<%- include('_partials/_header') %>
    <div class="full section">
        <h1 class="section-title">
            Stocks : 
        </h1>
        <div class="section-table">
            <table>
                <tr>
                    <th>Code</th>
                    <th>Dénomination</th>
                    <th>Secteur</th>
                    <th>Indice</th>
                    <th>Cours</th>
                </tr>
                <% stocks.forEach(function(stock){ %>
                    <tr>
                        <td><%= stock.CODEVALEUR %></td>
                        <td><%= stock.DENOMINATION %></td>
                        <td><%= stock.SECTEURECONOMIQUE %></td>
                        <td><%= stock.INDICE %></td>
                        <td><%= stock.COURS %></td>
                    </tr>
                <% }); %>
            </table>
        </div>
    </div>

<%- include('_partials/_footer') %>